/**
 * Main
 */
.margin-0 {
     margin: 0;
}

.padding-0 {
     padding: 0;
}

.container-fluid {
    padding: 0;
}

.navbar {
    border-top: 1px solid #dee2e6 !important;
}

/*.container-chart {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}*/

/**
 * Table
 */
.table {
    margin: 0;
}

.table-borderless td {
    border-bottom: 1px solid #dee2e6;
}

.table-condensed {
    line-height: 15px;
}

.table td, .table th {
    padding-left: 20px;
    padding-right: 20px;
}

/**
 * Nav
 */
.nav {
    border-top: 1px solid #dee2e6;
    border-bottom: 0;
}

/**
 * Card
 */
.card {
     border-left: 0;
     border-right: 0;
     border-top: 1px solid #dee2e6;
     border-bottom: 0;
 }

 .list-group-item {
     border-left: 0;
     border-right: 0;
     border-top: 1px solid #dee2e6;
     border-bottom: 1px solid #dee2e6;
 }

#card-new-workout {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

.score-empty {
    border-bottom: 1px solid #dee2e6;
}


/**
 * Forms
 */

.form-group {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**
 * Other
 */
.card-clickable {
     cursor: pointer;
}
