/**
 * general
 */
body {
    margin: 0;
    font-family: Dejavu Sans;
    line-height: 1.5;
}
/**
 * headings
 */
h1, h2, h3, h4, h5, h6 {
    margin: 12px 0 12px 0;
    font-weight: normal;
}
h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3 { font-size: 120%; }
h4 { font-size: 115%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

/**
 * container
 */
#container {
    margin-top: 115px;
    margin-bottom: 200px;
    padding: 0;
}

/**
 * template
 */
.workout-template { display: none; /* Hidden by default */ }
.movement-template { display: none; /* Hidden by default */ }
.equipment-template { display: none; /* Hidden by default */ }
/**
 * dialogs
 */
.dialog {
    width: 100%;
    padding: 24px 16px;
    box-sizing: border-box;
}
#login-dialog { display: none; /* Hidden by default */ }
#workout-dialog { display: none; /* Hidden by default */ }
#workout-score-dialog { display: none; /* Hidden by default */ }
/**
 * views
 */
#dashboard-view { display: none; /* Hidden by default */ }
#workout-view { display: none; /* Hidden by default */ }
#movement-view { display: none; /* Hidden by default */ }
#equipment-view { display: none; /* Hidden by default */ }
/**
 * score
 */
.score {
    cursor: pointer;
}
.select {
    background-color: #f6f6f6;
}
/**
 * topbar
 */
#topbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; /* Sit on top */
    color: gray;
    background-color: #eee;
    box-shadow: 0 1px 13px rgba(0,0,0,0.24);
}
/**
 * titlebar
 */
#titlebar {
    height: 60px;
    width: 100%; /* Full-width */
    background-color: #eee; /* Dark-grey background */
    overflow: auto;
    vertical-align: middle;
}
#titlebar > h1 {
    font-size: 120% !important;
    font-weight: bold !important;
    margin: 15px;
    float:left;
}
/**
 * navbar
 */
#navbar {
    display: none; /* Hidden by default */
    width: 100%; /* Full-width */
    background-color: #eee; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}
#navbar ul {
    background-color: #eee;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
#navbar li {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 10px 0; /* Some top and bottom padding */
    font-size: 20px; /* Increased font size */
    cursor: pointer;
}
#navbar .active {
    border-bottom: 5px solid gray;
}
#navbar li:hover {
    border-bottom: 5px solid #ddd;
}
/**
 * search bar
 */
#searchbar {
    width: 60%; /* Full-width */
    font-size: 20px;
    border: 0 !important;
    background-color: #eee; /* Dark-grey background */
    margin: 15px;
    padding: 0 !important;
    display: none; /* Hidden by default */
    float:left;
}
/**
 * tool bar
 */
#toolbar {
    display: none; /* Hidden by default */
    float: right;
}
#nav-searchbar {
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;

}
#nav-filter {
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
}

/**
 * notification
 */
.notification {
    display: none; /* Hidden by default */
    width: 100%; /* Could be more or less, depending on screen size */
    color: white;
    padding: 12px;
}
.notification-ok { background-color: #4CAF50; }
.notification-info { background-color: #2196F3; }
.notification-warn { background-color: #ffeb3b; }
.notification-error { background-color: #f44336; }

/**
 * loader
 */
#loader {
    display: none; /* Hidden by default */
    box-sizing : border-box;
    width: 100%;
    padding: 25px;
    text-align: center;
}
#spinner {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #2196F3; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**
 * card
 */
.card {
    border: 1px solid #ddd; /* Add a thin border to each list item */
    border-bottom: 1px solid #ddd; /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Add a grey background color */
    color: gray;
}
.card-header {
    text-align: left;
    font-size: 15px;
    padding: 0 12px 0 12px;
    border: none;
}
/* Style the collapsible content */
.card-content {
    overflow: hidden;
    border-top: 1px solid #ddd; /* top border if collapse */
    background-color: white;
}
.card-body {
    padding: 0 12px 0 12px;
}
.collapsible {
    box-sizing : border-box;
    cursor: pointer;
    width: 100%;
    outline: none;
}
ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/**
 * Overlay button
 */
.btn-overlay, .btn-overlay:hover, .btn-overlay:focus {
    position: fixed;
    z-index: 1; /* Sit on top */
    padding: 16px;
    border: 0;
    width: 54px;
    height: 54px;
    background-color: #2196F3;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.12);
    border-radius: 50%;
    cursor: pointer;
}

/**
 * Dropdown menu
 */
#dropdown-menu {
    position: fixed;
    background-color: #eee;
    bottom: 74px;
    right: 90px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.12);
    z-index: 1;
    border-radius: 5%;
}
#dropdown-menu span {
    cursor: pointer;
    color: gray;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-menu span:hover {
    background-color: #ddd;
}
#dropdown-menu span:first-child:hover {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
#dropdown-menu span:last-child:hover {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

/**
 * forms
 */
input {
    display:block;
    box-sizing : border-box;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    border: 2px solid #eee;
    color: gray;
    font-size: 14px;
}
input:active, input:focus {
    border: 2px solid #ddd;
}
textarea {
    display:block;
    box-sizing : border-box;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
    border: 2px solid #eee;
    color: gray;
    font-family: Dejavu Sans;
    font-size: 14px;
}
textarea:active, textarea:focus {
    border: 2px solid #ddd;
    color: gray;
}

/**
 * Canvas
 */
canvas {
    width: 100%;
    height: 150px;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 0;
    /*display: none;*/
}

::placeholder { color: #ddd;
    opacity: 1;
}


/**
 * Checkbox
 */

 /* Customize the label (the container) */
.chbx-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.chbx-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.chbx-container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.chbx-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.chbx-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.chbx-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**
 * table
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
table td, table th {
    padding: 12px;
    display: table-cell;
    text-align: left;
    vertical-align: middle
}
table tr {
    border: 1px solid #eee;
}
table tr:last-child {
    border: 0;
}

/**
 *
 */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-plus {
    /* The width and height of the SVG
    was previously set to 1em.
    This allows us to use `font-size`
    to change the size of our icon: */
    font-size: 20px;
    /* Using currentColor above lets
    us use `color` for changing the color
    of our icons: */
    color: white;
}
.icon-checkmark {
    font-size: 20px;
    color: white;
}
.icon-cross {
    font-size: 20px;
    color: white;
}
.icon-pencil {
    font-size: 20px;
    color: white;
}
.icon-menu {
    font-size: 20px;
    color: white;
}
.icon-search {
    font-size: 16px;
    color: gray;
}
.icon-cog {
    font-size: 16px;
    color: gray;
}
.icon-home {
    font-size: 20px;
    color: gray;
}
.icon-stats-dots {
    font-size: 20px;
    color: gray;
}
.icon-accessibility {
    font-size: 20px;
    color: gray;
}
.icon-database {
    font-size: 20px;
    color: gray;
}
