input {
  color: $fg_white_1 !important;
  background-color: $bg_gray_2 !important;
  border: 1px solid $bg_gray_2 !important;
}
input::placeholder {
  color: $fg_white_1 !important;
}
input:focus {
  color: $fg_white_2 !important;
  border: 1px solid $gray_2 !important;
}
